.card {
  background-color: #ffffff;
  margin-top: 10.25rem;
  width: min-content;
  border-radius: 1rem;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.card .main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.card .main img {
  height: 9.5rem;
  width: 21rem;
  border-radius: 1rem;
}

.card .main span {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  color: #883ae1;
  background: #e6d6fc;
  padding: 0.375rem 1rem 0.375rem 1rem;
}

.card .main .title {
  margin-bottom: 0.375rem;
}

.card .main .content,
.card .footer {
  color: #6c727f;
}

.card .footer {
  border-top: 1px solid #e5eaf0;
  padding: 1rem;
}

.text-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.text-body {
  font-size: 0.875rem;
}

.text-small {
  font-size: 0.75rem;
}

.text-tag {
  font-size: 0.625rem;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .card .header img {
    height: 7.5rem;
    width: 16rem;
    border-radius: 1rem;
  }
}
